body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#score {
    font-size: 16px;
    margin-bottom: 10px;
}

.task {
    font-size: 18px;
    margin-bottom: 10px;
}

.answersForm {
    margin-bottom: 10px;
    text-align: left;
}

input[type="radio"] {
    margin-right: 10px;
}

.btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.result {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
