body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f0f4fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7effb;
}

.register-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.name-container {
    display: flex;
    gap: 10px;
}

.name-container input {
    width: 100%; 
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%; 
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; 
}

.dob {
    margin-bottom: 10px;
}

.dob label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color:#005FF1;
}

.dob-container {
    display: flex;
    gap: 10px;
}

.dob-container select {
    width: calc(33.33% - 6.66px); 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.gender {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gender-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    width: calc(33.33% - 6.66px);
    cursor: pointer;
}

.gender-option input {
    margin-right: 10px;
}

.gender-option:hover {
    border-color: #007bff;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox input {
    margin-top: 2px;
}

.checkbox label {
    font-size: 12px;
    line-height: 1.4;
    color: #333;
}

.checkbox a {
    color: #007bff;
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px; 
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px; 
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.terms {
    font-size: 12px;
    text-align: center;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}
