html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Додано простий фоновий колір */
}

header {
    background-color: #274236;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.left-side,
.right-side {
    width: 20%;
}

.button {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.button li {
    margin-bottom: 15px;
}

.button li a {
    display: inline-block;
    width: 300px;
    padding: 15px;
    text-decoration: none;
    background-color: #274236;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.buttons li a:hover {
    background-color: #1b2d21;
}